[include shell_command.cfg]
[include fluidd.cfg]
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[pause_resume]
recover_velocity: 50
[save_variables]
filename: /home/biqu/printer_data/config/saved_variables.cfg
#[power_loss_recovery]
#recover_on_error: True




# This file contains pin mappings for the stock 2020 Creality Ender 3
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# It should be noted that newer variations of this printer shipping in
# 2022 may have GD32F103 chips installed and not STM32F103. You may
# have to inspect the mainboard to ascertain which one you have. If it
# is the GD32F103 then please select Disable SWD at startup in the
# "make menuconfig" along with the same settings for STM32F103.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[exclude_object]
[include KAMP_Settings.cfg]
[include my_gcode_button.cfg] #Configuracion de botones fisicos

[exclude_object]

[delayed_gcode welcome]
initial_duration: 1.0
gcode:
  #G28
  update_git

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop           #enable to use bltouch
#endstop_pin: ^PA7
#position_endstop: 0.0
position_min: -3
position_max: 250
homing_speed: 5
second_homing_speed: 2
homing_retract_dist: 3

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
max_extrude_only_velocity: 120
max_extrude_only_accel: 1000

[input_shaper]
shaper_type: mzv
shaper_freq_x: 40
shaper_freq_y: 40

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 250 #200 #300
max_accel: 2000 #1000 #3000
square_corner_velocity: 5 #Nuevo
max_z_velocity: 5
max_z_accel: 100

# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PB1 #^PA7
control_pin: PB0
x_offset: -43
y_offset: -10
z_offset = 0.224
speed: 20 #4
lift_speed: 40 # velocidad de elevación
#pin_move_time: 1.500
#pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: False #El mas importante para eje Z baje hasta la cama
#probe_with_touch_mode: False
samples: 3 #2
samples_result: median
sample_retract_dist: 8.0 # Can be set lower, example 2.5 depending on height of bltouch from bed
samples_tolerance: 0.050
samples_tolerance_retries: 20
stow_on_each_sample = False #high speed for bltoch

[safe_z_home]
home_xy_position: 158,127 #125,125 # Change coordinates to the center of your print bed
speed: 80 #50
z_hop: 15 # Move up 10mm
z_hop_speed: 10 #5

#BED_MESH_CALIBRATE
[bed_mesh]
speed: 80
horizontal_move_z: 3 #5
mesh_min: 20,20 #15,15 #10,10
mesh_max: 230,230 #200,200
probe_count: 5,5
mesh_pps: 2,2 #number of points to interpret between each probing point
algorithm: bicubic
bicubic_tension: 0.2
split_delta_z: 0.025
fade_start: 1 #height in millimeters to begin fading out the applied effect of the mesh
fade_end: 10 #height in millimeters to end the applied effect of the mesh. If you want to disable fade make this value lower than the value of fade_start
fade_target: 0

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[bed_screws]
screw1:30, 30
screw2: 190, 30
screw3: 190, 190
screw4: 30, 190

[screws_tilt_adjust]
screw1: 73, 41
screw1_name: front left screw
screw2: 243, 41
screw2_name: front right screw
screw3: 243, 213
screw3_name: rear right screw
screw4: 73, 213
screw4_name: rear left screw
horizontal_move_z: 10 #Cuanto sube para moverse
speed: 100
screw_thread: CW-M4 #Tipo de Tornillo de la Impresora M4

[gcode_macro G29]	
gcode:
  G28
  EXCLUDE_OBJECT_DEFINE
  BED_MESH_CALIBRATE
  G1 X0 Y0 Z10 F4200

[gcode_macro BED_MESH_CALIBRATE_AREA]
description: Nivelación de cama solo en el área del modelo, con cama caliente y sin calentar nozzle
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(70)|float %}
    M140 S{BED_TEMP}         ; Calienta la cama
    M190 S{BED_TEMP}         ; Espera a que la cama llegue a temperatura
    G28                      ; Homing
    BED_MESH_CALIBRATE AREA_ONLY=1
    BED_MESH_PROFILE SAVE=name=default


[gcode_macro START_PRINT]
description: Inicio optimizado de impresión con cama caliente antes del mesh y limpieza de boquilla
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(70)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    # 1. Homing inicial
    M140 S{BED_TEMP}           ; Inicia calentamiento de cama (sin esperar)
    G28                        ; Home X/Y/Z con BLTouch

    # 2. Prepara cama caliente antes del mesh
    M190 S{BED_TEMP}           ; Espera a temperatura real de cama

    # 3. Malla de cama con cama caliente
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=name=default
    BED_MESH_PROFILE LOAD=default

    # 4. Calentar hotend después de nivelar cama
    M104 S{EXTRUDER_TEMP}      ; Precalentar hotend
    M109 S{EXTRUDER_TEMP}      ; Esperar hotend

    # 5. Posicionar para purga
    G92 E0                     ; Reset extrusor
    G1 Z2.0 F3000              ; Subir nozzle
    G1 X2 Y20 F5000            ; Mover a posición de purga

    # 6. Purga y limpieza de boquilla (línea doble)
    G1 Z0.3 F3000
    G1 X2 Y200 E15 F1500       ; Primera línea
    G1 X4 Y200 F5000
    G1 X4 Y20 E15 F1500        ; Segunda línea

    G92 E0                     ; Reset extrusor nuevamente
    G1 Z2.0 F3000
    G1 X5 Y20 F5000            ; Posición segura antes de iniciar


[gcode_macro END_PRINT]
gcode:
    G91 ;Relative positioning
    G1 E-2 F2700 ;Retract a bit
    G1 E-2 Z0.2 F2400 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z10 ;Raise Z more
    G90 ;Absolute positioning

    G1 X0 Y230 ;Present print
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed

    #M84 X Y E ;Disable all steppers but Z
    M84 ;desactiva todos los motores
    TURN_OFF_HEATERS

# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.158750, 0.027500, -0.311250
#*# 	  -0.230000, -0.008750, -0.161250
#*# 	  -0.088750, -0.055000, -0.011250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 91.533
#*# max_x = 129.113
#*# min_y = 86.607
#*# max_y = 135.087
